# Default ignored files
/../../../프로젝트/luxury_jungmin_clin_front/.idea/shelf/
/../../../프로젝트/luxury_jungmin_clin_front/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../프로젝트/luxury_jungmin_clin_front/.idea/httpRequests/
# Datasource local storage ignored files
/../../../프로젝트/luxury_jungmin_clin_front/.idea/dataSources/
/../../../프로젝트/luxury_jungmin_clin_front/.idea/dataSources.local.xml
